﻿@model ContentCmdListViewModel
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_CmdLayout.cshtml";
}

    <div class="content">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Makaleler Kayıtlar (@Model.Count / Sayfa: @Model.CurrentPage)</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        @using (Html.BeginForm("Content", "Cmd", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" name="username"
                                       @if (ViewBag.Search != null) { <text> value='@ViewBag.Search' </text> } />
                            </div>
                            <button type="submit" class="btn btn-default">Ara</button>
                        }
                        <a class="btn pull-left btn-danger" href="@Url.Action("Content","Cmd", new { page = Model.CurrentPage - 1 })">Prev</a>
                        <a class="btn pull-right btn-primary" href="@Url.Action("Content","Cmd", new { page = Model.CurrentPage + 1 })">Next</a>
                        <a class="btn btn-success" pull-right href="@Url.Action("ContentAdd","Cmd")">Yeni Ekle</a>
                    </div>
                </div>
            </div>

            @if (ViewBag.ViewModelResult != null)
            {
                <div class="card-body">
                    <div class="alert alert-success alert-styled-left alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                        <span>@ViewBag.ViewModelResult.Message</span>
                    </div>
                </div>
            }

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>-</td>
                            <td>Başlık</td>
                            <td>Yayınlanma Tarihi</td>
                            <td>Aktif Mi</td>
                            <td>-</td>
                        </tr>
                    </thead>
                    <tbody>

                        @{var counter = 0;}
                        @foreach (var p in Model.Contents)
                        {
                            counter++;
                            <tr>
                                <td>@counter</td>
                                <td>@p.Title</td>
                                <td>@p.PublishDate.ToString("dd MMMM yyyy")</td>
                                <td>@Html.Raw(p.IsActive ? "<i class='icon-circle2 text-success'></i>" : "<i class='icon-circle2 text-danger'></i>")</td>
                                <td>
                                    <a class="btn btn-xs btn-primary" href="@Url.Action("ContentEdit", new { id = p.Id })">Düzenle</a>
                                    <a class="btn btn-xs btn-danger" href="@Url.Action("ContentDelete", new { id = p.Id })">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>