﻿@model ContentAddViewModel
@{
    Layout = "~/Views/Shared/_CmdLayout.cshtml";
}

<div class="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Makale Ekle</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        @if (ViewBag.ViewModelResult != null)
        {
            <div class="card-body">
                <div class="alert alert-danger alert-styled-left alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                    <ul class="list-unstyled">
                        @foreach (var item in ViewBag.ViewModelResult.Errors)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </div>
            </div>
        }


        <div class="card-body">
            @using (Html.BeginForm("ContentEdit", "Cmd", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
            {
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label>Desinger:</label>
                        <input type="text" class="form-control" name="Info.Desinger" value="@Model.Info.Desinger" placeholder="Desinger">
                    </div>
                    <div class="col-lg-2">
                        <label>Owner:</label>
                        <input type="text" class="form-control" name="Info.Owner" value="@Model.Info.Owner" placeholder="Owner">
                    </div>
                    <div class="col-lg-2">
                        <label>Garden Style:</label>
                        <input type="text" class="form-control" name="Info.GardenStyle" value="@Model.Info.GardenStyle" placeholder="Garden Style">
                    </div>
                    <div class="col-lg-2">
                        <label>Size:</label>
                        <input type="text" class="form-control" name="Info.Size" value="@Model.Info.Size" placeholder="Size">
                    </div>
                    <div class="col-lg-2">
                        <label>Climate:</label>
                        <input type="text" class="form-control" name="Info.Climate" value="@Model.Info.Climate" placeholder="Climate">
                    </div>
                    <div class="col-lg-2">
                        <label>Location</label>
                        <input type="text" class="form-control" name="Info.Location" value="@Model.Info.Location" placeholder="Location">
                    </div>
                </div>

                <div class="form-group">
                    <label>Başlık:</label>
                    <input type="text" class="form-control" name="Content.Title" placeholder="Başlık" value="@Model.Content.Title">
                </div>

                <div class="form-group">
                    <label>Meta Başlık: <span class="metaTitleCounter">0</span></label>
                    <input type="text" class="form-control" name="Content.MetaTitle" placeholder="Meta Başlık" value="@Model.Content.MetaTitle">
                </div>

                <div class="form-group">
                    <label>Meta Açıklama: <span class="metaDescCounter">0</span></label>
                    <input type="text" class="form-control" name="Content.MetaDescription" placeholder="Meta MetaDescription" value="@Model.Content.MetaDescription">
                </div>

                <div class="form-group">
                    <label>Keywords:</label>
                    <input type="text" class="form-control" name="Content.Keywords" placeholder="Keywords" value="@Model.Content.Keywords">
                </div>

                <div class="form-group">
                    <label>Açıklama:</label>
                    <textarea class="summernote-height form-control" name="Content.Description" placeholder="Açıklama">@Model.Content.Description</textarea>
                </div>

                <div class="form-group">
                    <label>Fotoğraf (Önerilen boyut : 600px - 900px)</label>
                    <div class="col-sm-6">
                        <label class="label" data-toggle="tooltip" title="Fotoğraf yüklemek için tıklayınız">
                            <img class="rounded" id="avatar" src="@Html.Raw(string.IsNullOrEmpty(Model.Content.ImagePath) ? "~/_admin/img/default.png" : Model.Content.ImagePath)" width="250" height="150" alt="avatar">
                            <input type="hidden" name="imageFile" id="imageBaseCode" value="" />
                            <input type="file" class="sr-only" id="input" name="image" accept="image/*">
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Yayınlanma Tarihi:</label>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <button type="button" class="btn btn-light btn-icon" id="ButtonCreationDemoButton"><i class="icon-calendar3"></i></button>
                        </span>
                        <input type="text" class="form-control" id="ButtonCreationDemoInput" name="Content.PublishDate" value="@Model.Content.PublishDate" placeholder="Yayınlanma Tarihi Seçin">
                    </div>
                    <span class="form-text text-muted">Format must be YYYY-MM-DD HH:MM:SS</span>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Aktif Mi?</label>
                    <div class="col-lg-10">
                        @Html.CheckBox("Content.IsActive", Model.Content.IsActive)
                    </div>
                </div>

                <input type="hidden" name="Content.Id" value="@Model.Content.Id" />
                <input type="hidden" name="Content.SiteId" value="@Model.Content.SiteId" />

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit form <i class="icon-paperplane ml-2"></i></button>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" id="crop">Kes</button>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script src="~/_admin/js/daterangepicker.js"></script>
    <script src="~/_admin/js/anytime.min.js"></script>
    <script src="~/_admin/js/picker.js"></script>
    <script src="~/_admin/js/picker.date.js"></script>
    <script src="~/_admin/js/picker.time.js"></script>
    <script src="~/_admin/js/legacy.js"></script>
    <script src="~/_admin/js/jgrowl.min.js"></script>
    <script src="~/_admin/js/picker_date.js"></script>
    <script src="~/_admin/js/summernote.min.js"></script>
    <script src="~/_admin/js/uniform.min.js"></script>
    <script src="~/_admin/js/editor_summernote.js"></script>
    <link href="~/_admin/css/cropper.css" rel="stylesheet" />
    <script src="~/_admin/js/cropper.js"></script>

    <style>
        .datetimepicker {
            z-index: 9999 !important;
            display: block !important;
        }

        .modal-dialog {
            max-width: 1080px !important;
            width: 1080px !important;
        }
    </style>

    <script>
        var titleCount = 0;
        var mTitleCount = 0;
        var mDescCount = 0;

        $("body").on("keyup", "input[name='Content.MetaDescription']", function (e) {
            var text = $(this);
            $(".metaDescCounter").html(text.val().length);
            mDescCount = text.val().length;
        });

        $("body").on("keyup", "input[name='Content.MetaTitle']", function (e) {
            var text = $(this);
            $(".metaTitleCounter").html(text.val().length);
            mTitleCount = text.val().length;
        });

        $("body").on("keyup", "input[name='Title']", function (e) {
            var text = $(this);
            titleCount = text.val().length;
        });

        $("form").submit(function (event) {
            if (titleCount > 150) {
                alert("Başlık 150 karakterden fazla olamaz");
            }

            if (mTitleCount > 60) {
                alert("Meta Başlık 60 karakterden fazla olamaz");
            }

            if (mDescCount > 160) {
                alert("Meta Açıklama 160 karakterden fazla olamaz");
            }

            if (titleCount > 150 || mTitleCount > 60 || mDescCount > 160) {
                event.preventDefault();
            }

        });


        Object.getPrototypeOf($('#datetimepicker1')).size = function () { return this.length; };

        window.addEventListener('DOMContentLoaded', function () {
            var avatar = document.getElementById('avatar');
            var image = document.getElementById('image');
            var input = document.getElementById('input');
            var $modal = $('#modal');
            var cropper;

            $('[data-toggle="tooltip"]').tooltip();

            input.addEventListener('change', function (e) {
                var files = e.target.files;
                var done = function (url) {
                    input.value = '';
                    image.src = url;
                    $modal.modal('show');
                };
                var reader;
                var file;
                var url;

                if (files && files.length > 0) {
                    file = files[0];

                    if (URL) {
                        done(URL.createObjectURL(file));
                    } else if (FileReader) {
                        reader = new FileReader();
                        reader.onload = function (e) {
                            done(reader.result);
                        };
                        reader.readAsDataURL(file);
                    }
                }
            });

            $modal.on('shown.bs.modal', function () {
                cropper = new Cropper(image, {
                    dragMode: 'move',
                    aspectRatio: 16 / 9,
                    autoCropArea: 0.65,
                    restore: false,
                    guides: false,
                    center: false,
                    highlight: false,
                    cropBoxMovable: false,
                    cropBoxResizable: false,
                    toggleDragModeOnDblclick: false,
                    minContainerWidth: 1024,
                    minContainerHeight: 576,
                    minCanvasWidth: 1024,
                    minCanvasHeight: 576,
                    minCropBoxWidth: 1024,
                    minCropBoxHeight: 576,
                    zoomable: true,
                });
            }).on('hidden.bs.modal', function () {
                cropper.destroy();
                cropper = null;
            });

            document.getElementById('crop').addEventListener('click', function () {
                var canvas;
                $modal.modal('hide');

                if (cropper) {
                    canvas = cropper.getCroppedCanvas({
                        width: 1024,
                        height: 576,
                    });
                    initialAvatarURL = avatar.src;
                    avatar.src = canvas.toDataURL();
                    canvas.toBlob(function (blob) {
                        var avat = $("#avatar").attr("src");
                        $("#imageBaseCode").val(avat);
                    });
                }
            });
        });
    </script>
}