﻿@model AdminIndexViewModel
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_CmdLayout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Bekleyen Makaleler</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>-</td>
                                <td>Başlık</td>
                                <td>Akitf Mi?</td>
                                <td>-</td>
                            </tr>
                        </thead>
                        <tbody>

                            @{var counter = 0;}
                            @foreach (var p in Model.PublishContents)
                            {
                                counter++;
                                <tr>
                                    <td>@counter</td>
                                    <td>@p.Title</td>
                                    <td>@Html.Raw(p.IsActive ? "<i class='icon-circle2 text-success'></i>" : "<i class='icon-circle2 text-danger'></i>")</td>
                                    <td>
                                        <a class="btn btn-xs btn-primary" target="_blank" href="@Url.Action("Index","Content", new { slug = p.Slug })">Makaleye Git</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Makaleler (@Model.ContentCount)</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>-</td>
                                <td>Başlık</td>
                                <td>Akitf Mi?</td>
                                <td>-</td>
                            </tr>
                        </thead>
                        <tbody>

                            @{var xcounter = 0;}
                            @foreach (var p in Model.Contents)
                            {
                                xcounter++;
                                <tr>
                                    <td>@xcounter</td>
                                    <td>@p.Title</td>
                                    <td>@Html.Raw(p.IsActive ? "<i class='icon-circle2 text-success'></i>" : "<i class='icon-circle2 text-danger'></i>")</td>
                                    <td>
                                        <a class="btn btn-xs btn-primary" target="_blank" href="@Url.Action("Index","Content", new { slug = p.Slug })">Makaleye Git</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>