﻿@{
    Layout = null;
    ViewBag.Title = "Login";
}

<html>
<head>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
</head>
<body>
    @using (Html.BeginForm("Login", "Cmd", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Kullanıcı</td>
                <td>@Html.TextBox("UserName")</td>
            </tr>
            <tr>
                <td>Parola</td>
                <td>@Html.Password("Password")</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="Submit" value="Gir Bakalım!" />
                </td>
            </tr>
        </table>
    }
</body>
</html>

