﻿@model AdsGarden.Model.Setting
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_CmdLayout.cshtml";
}

<div class="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Site Ayarları</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        @if (ViewBag.ViewModelResult != null)
        {
            <div class="card-body">
                @if (ViewBag.ViewModelResult.IsSucceed)
                {
                    <div class="alert alert-success alert-styled-left alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                        <span>@ViewBag.ViewModelResult.Message</span>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger alert-styled-left alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                        <ul class="list-unstyled">
                            @foreach (var item in ViewBag.ViewModelResult.Errors)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }


        <div class="card-body">
            @using (Html.BeginForm("Settings", "Cmd", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
            {
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label>Facebook:</label>
                        <input type="text" class="form-control" name="Facebook" value="@Model.Facebook" placeholder="Facebook">
                    </div>
                    <div class="col-lg-2">
                        <label>Instagram:</label>
                        <input type="text" class="form-control" name="Instagram" value="@Model.Instagram" placeholder="Instagram">
                    </div>
                    <div class="col-lg-2">
                        <label>Pinterest:</label>
                        <input type="text" class="form-control" name="Pinterest" value="@Model.Pinterest" placeholder="Pinterest">
                    </div>
                    <div class="col-lg-2">
                        <label>Twitter:</label>
                        <input type="text" class="form-control" name="Twitter" value="@Model.Twitter" placeholder="Twitter">
                    </div>
                    <div class="col-lg-2">
                        <label>Youtube:</label>
                        <input type="text" class="form-control" name="Youtube" value="@Model.Youtube" placeholder="Youtube">
                    </div>
                    <div class="col-lg-2">
                        <label>Site Adı</label>
                        <input type="text" class="form-control" name="Sitename" value="@Model.Sitename" placeholder="Site Adı">
                    </div>
                </div>

                <div class="form-group">
                    <label>Site Adresi:</label>
                    <input type="text" class="form-control" name="SiteAdress" placeholder="Site Adresi (http://example.com)" value="@Model.SiteAdress">
                </div>

                <div class="form-group">
                    <label>Analytics:</label>
                    <textarea style="height:100px" class="form-control" name="Analytics">@Model.Analytics</textarea>
                </div>

                <div class="form-group">
                    <label>Adsense 300:</label>
                    <textarea style="height:100px" class="form-control" name="Ads300">@Model.Ads300</textarea>
                </div>

                <div class="form-group">
                    <label>Adsense 600:</label>
                    <textarea style="height:100px" class="form-control" name="Ads600">@Model.Ads600</textarea>
                </div>

                <div class="form-group">
                    <label>Adsense Onay Kodu:</label>
                    <textarea style="height:100px" class="form-control" name="AdsenseVerifiedCode">@Model.AdsenseVerifiedCode</textarea>
                </div>

                <div class="form-group">
                    <label>Logo (Önerilen boyut : 192px - 61px)</label>
                    <div class="col-sm-6">
                        <label class="label" data-toggle="tooltip" title="Fotoğraf yüklemek için tıklayınız">
                            <img class="rounded" id="avatar" src="@Html.Raw(string.IsNullOrEmpty(Model.LogoPath) ? "/_vendor/img/logo.png" : Model.LogoPath)" width="192" height="61" alt="avatar">
                            <input type="hidden" name="imageFile" id="imageBaseCode" value="" />
                            <input type="file" class="sr-only" id="input" name="image" accept="image/*">
                        </label>
                    </div>
                </div>

                <input type="hidden" name="Id" id="Id" value="@Model.Id" />

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Ssl Varmı?</label>
                    <div class="col-lg-10">
                        @Html.CheckBox("IsSslDomain", Model.IsSslDomian)
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Kaydet <i class="icon-paperplane ml-2"></i></button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" id="crop">Kes</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="~/_admin/css/cropper.css" rel="stylesheet" />
    <script src="~/_admin/js/cropper.js"></script>

    <style>
        .modal-dialog {
            max-width: 1080px !important;
            width: 1080px !important;
        }
    </style>

    <script>
        window.addEventListener('DOMContentLoaded', function () {
                var avatar = document.getElementById('avatar');
                var image = document.getElementById('image');
                var input = document.getElementById('input');
                var $modal = $('#modal');
                var cropper;

                $('[data-toggle="tooltip"]').tooltip();

                input.addEventListener('change', function (e) {
                    var files = e.target.files;
                    var done = function (url) {
                        input.value = '';
                        image.src = url;
                        $modal.modal('show');
                    };
                    var reader;
                    var file;
                    var url;

                    if (files && files.length > 0) {
                        file = files[0];

                        if (URL) {
                            done(URL.createObjectURL(file));
                        } else if (FileReader) {
                            reader = new FileReader();
                            reader.onload = function (e) {
                                done(reader.result);
                            };
                            reader.readAsDataURL(file);
                        }
                    }
                });

                $modal.on('shown.bs.modal', function () {
                    cropper = new Cropper(image, {
                        dragMode: 'move',
                        aspectRatio: 16 / 9,
                        autoCropArea: 0.65,
                        restore: false,
                        guides: false,
                        center: false,
                        highlight: false,
                        cropBoxMovable: false,
                        cropBoxResizable: false,
                        toggleDragModeOnDblclick: false,
                        minContainerWidth: 192,
                        minContainerHeight: 61,
                        minCanvasWidth: 192,
                        minCanvasHeight: 61,
                        minCropBoxWidth: 192,
                        minCropBoxHeight: 61,
                        zoomable: true,
                    });
                }).on('hidden.bs.modal', function () {
                    cropper.destroy();
                    cropper = null;
                });

                document.getElementById('crop').addEventListener('click', function () {
                    var canvas;
                    $modal.modal('hide');

                    if (cropper) {
                        canvas = cropper.getCroppedCanvas({
                            width: 192,
                            height: 61,
                        });
                        initialAvatarURL = avatar.src;
                        avatar.src = canvas.toDataURL();
                        canvas.toBlob(function (blob) {
                            var avat = $("#avatar").attr("src");
                            $("#imageBaseCode").val(avat);
                        });
                    }
                });
            });
    </script>
}