﻿@model HomeViewModel
@{
    ViewBag.Title = "Discover best of popular gardens - " + CacheHelper.Settings.Sitename;
    ViewBag.Description = "Discover best of popular gardens - " + CacheHelper.Settings.Sitename;
    ViewBag.Canonical = Url.Action("Index", "Home");
    ViewBag.Robots = "index,follow";
}

<div class="col-lg-8 col-sm-7">
    <div class="row">
        @foreach (var item in Model.Contents.Take(4))
        {
            <div class="col-lg-6 col-sm-12">
                <div class="singleBlog">
                    <div class="blogImg">
                        <img src="@item.ImagePath"
                             alt="@item.MetaDescription"
                             title="@item.MetaTitle" />
                    </div>
                    <div class="blogDec">
                        <h2 class="blogtitle">
                            <a href="@Url.Action("Index","Content", new { slug = item.Slug })">@item.Title</a>
                        </h2>
                        @Html.Raw(item.Description.Substring(0, 110))<text>...</text>
                        <div class="blogMeta">
                            <span><i class="fa fa-user"></i>@item.User.Fullname</span>
                            <span> <i class="fa fa-clock-o"></i>@item.PublishDate.ToString("dd.MM.yyyy")</span>
                            <a href="@Url.Action("Index","Category",new { slug = item.Category.Slug })"><i class="fa fa-comments"></i>@item.Category.Title</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        @foreach (var item in Model.Contents.Skip(4).Take(1))
        {
            <div class="col-sm-12">
                <div class="singleBlog">
                    <div class="blogImg">
                        <img src="@item.ImagePath"
                             alt="@item.MetaDescription"
                             title="@item.MetaTitle" />
                    </div>
                    <div class="blogDec">
                        <h2 class="blogtitle">
                            <a href="@Url.Action("Index","Content", new { slug = item.Slug })">@item.Title</a>
                        </h2>
                        <p> @Html.Raw(item.Description.Substring(0, 350))<text>...</text></p>
                        <div class="blogMeta">
                            <span><i class="fa fa-user"></i>@item.User.Fullname</span>
                            <span> <i class="fa fa-clock-o"></i>@item.PublishDate.ToString("dd.MM.yyyy")</span>
                            <a href="@Url.Action("Index","Category",new { slug = item.Category.Slug })"><i class="fa fa-comments"></i>@item.Category.Title</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        @foreach (var item in Model.Contents.Skip(5).Take(5))
        {
            <div class="blogHlafWidth">
                <div class="clearfix"></div>
                <div class="col-lg-6 col-sm-12">
                    <div class="singleBlog hlafWidth">
                        <div class="blogImg">
                            <img src="@item.ImagePath"
                                 alt="@item.MetaDescription"
                                 title="@item.MetaTitle" 
                            />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="blogDec hlafWidthdec">
                        <h2 class="blogtitle">
                            <a href="@Url.Action("Index","Content", new { slug = item.Slug })">@item.Title</a>
                        </h2>
                        <p> @Html.Raw(item.Description.Substring(0, 220))<text>...</text></p>
                        <div class="blogMeta">
                            <span><i class="fa fa-user"></i>@item.User.Fullname</span>
                            <span> <i class="fa fa-clock-o"></i>@item.PublishDate.ToString("dd.MM.yyyy")</span>
                            <a href="@Url.Action("Index","Category",new { slug = item.Category.Slug })"><i class="fa fa-comments"></i>@item.Category.Title</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

