﻿
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/_admin/css/icomoon.css" rel="stylesheet" type="text/css">
    <link href="~/_admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/_admin/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/_admin/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/_admin/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/_admin/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="~/_admin/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="navbar-brand">
            <a href="@Url.Action("Index","Home")" class="d-inline-block">
                <img src="~/_vendor/img/aboutme.jpg" alt="">
            </a>
        </div>

        <div class="d-md-none pr-4">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-paragraph-justify3"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-tree5"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/Cmd/Index" class="navbar-nav-link">Ana Sayfa</a></li>
                <li class="nav-item"><a href="@Url.Action("Content","Cmd", new { page = 1 })" class="navbar-nav-link">Makaleler</a></li>
                <li class="nav-item"><a href="@Url.Action("Settings","Cmd")" class="navbar-nav-link">Ayarlar</a></li>
                @*<li class="nav-item dropdown">
                    <a class="navbar-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" data-hover="dropdown">
                        Pomodoro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("Index","HangService")"><i class="icon-arrow-right5"></i> Günlük Pomodorolar</a>
                        <a class="dropdown-item" href="@Url.Action("Index","DailyMission")"><i class="icon-arrow-right5"></i> Pomodorolar</a>
                    </div>
                </li>*@
            </ul>
        </div>
    </div>

    <div class="page-content">
        <div class="sidebar bg-white text-dark sidebar-main sidebar-fixed sidebar-expand-md">

            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Pomodorolar
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <div class="sidebar-content">
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <li class="nav-item pt-0">
                            <div class="card bg-white side-card">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>

    <script src="~/_admin/js/jquery.min.js"></script>
    <script src="~/_admin/js/bootstrap.bundle.min.js"></script>
    <script src="~/_admin/js/blockui.min.js"></script>
    <script src="~/_admin/js/d3.min.js"></script>
    <script src="~/_admin/js/d3_tooltip.js"></script>
    <script src="~/_admin/js/switchery.min.js"></script>
    <script src="~/_admin/js/bootstrap_multiselect.js"></script>
    <script src="~/_admin/js/moment.min.js"></script>
    <script src="~/_admin/js/daterangepicker.js"></script>
    <script src="~/_admin/js/daterangepicker.tr.js"></script>
    <script src="~/_admin/js/app.js"></script>
    <script src="~/_admin/js/pnotify.min.js"></script>
    <script src="~/_admin/js/select2.min.js"></script>

    <script src="~/_admin/js/interactions.min.js"></script>
    <script src="~/_admin/js/select2.min.js"></script>
    <script src="~/_admin/js/form_select2.js"></script>

    <script src="~/_admin/js/form_layouts.js"></script>

    <script>
        $(document).ready(function () {
            function callDatePicker(params) {
                return;
            }
            $.datepicker = new callDatePicker(null);
        });
    </script>

    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
