﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="@CacheHelper.Settings.Sitename">
    @if (ViewBag.Keywords != null)
    {
        <meta name="keywords" content="@ViewBag.Keywords">
    }
    @if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        <meta name="description" content="@ViewBag.Description">
    }
    @if (!string.IsNullOrEmpty(ViewBag.Title))
    {
        <title>@ViewBag.Title</title>
    }
    @if (!string.IsNullOrEmpty(ViewBag.Canonical))
    {
        <link rel="canonical" href="@ViewBag.Canonical" />
    }
    @if (!string.IsNullOrEmpty(ViewBag.AmpCanonical))
    {
        <link rel="amphtml" href="@ViewBag.AmpCanonical" />
    }
    @if (!string.IsNullOrEmpty(ViewBag.Robots))
    {
        <meta name="robots" content="@ViewBag.Robots" />
    }
    <!-- Include All CSS -->
    <link rel="stylesheet" type="text/css" href="~/_vendor/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/_vendor/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/_vendor/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/_vendor/css/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="~/_vendor/css/preset.css" />
    <link rel="stylesheet" type="text/css" href="~/_vendor/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" type="text/css" href="~/_vendor/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/_vendor/css/responsive.css" />
    <!-- End Include All CSS -->
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="@CacheHelper.Settings.LogoPath">
    <!-- Favicon Icon -->

    @if (!string.IsNullOrEmpty(CacheHelper.Settings.AdsenseVerifiedCode))
    {
        @Html.Raw(CacheHelper.Settings.AdsenseVerifiedCode)
    }

</head>
<body class="animat">
    <div id="page">
        <div class="leftMenu">
            <div class="leftmenuHead">
                <div class="logoleft pull-left">
                    <a href="@Url.Action("Index","Home")">
                        <img src="@CacheHelper.Settings.LogoPath"
                             alt="World in best of gardens"
                             title="World in best of gardens" />
                    </a>
                </div>
                <a href="#" class="leftclose pull-right">x</a>
                <div class="clearfix"></div>
            </div>
            <div class="leftmenuScroll">
                <nav class="leftmainnav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="@Url.Action("Index","Page", new { slug = "about" })">About</a></li>
                        <li class="has-menu-items">
                            <a href="#">categories</a>
                            <ul class="sub-menu">
                                @foreach (var item in CacheHelper.Categories)
                                {
                                    <li><a href="@Url.Action("Index","Category", new { slug = item.Slug })" title="@item.MetaTitle">@item.Title</a></li>
                                }
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Index","Page", new { slug = "contact" })">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="socialleft">
                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Facebook))
                {
                    <a href="@CacheHelper.Settings.Facebook"><i class="fa fa-facebook"></i></a>
                }
                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Twitter))
                {
                    <a href="@CacheHelper.Settings.Twitter"><i class="fa fa-twitter"></i></a>
                }
                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Youtube))
                {
                    <a href="@CacheHelper.Settings.Youtube"><i class="fa fa-youtube"></i></a>
                }
                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Instagram))
                {
                    <a href="@CacheHelper.Settings.Instagram"><i class="fa fa-instagram"></i></a>
                }
                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Pinterest))
                {
                    <a href="@CacheHelper.Settings.Pinterest"><i class="fa fa-pinterest"></i></a>
                }
            </div>
        </div>
        <section class="headerTop">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xs-2">
                    </div>
                    <div class="col-lg-4 col-xs-8 text-center">
                        <div class="logo">
                            <a href="@Url.Action("Index","Home")" title="@CacheHelper.Settings.Sitename Homepage"><img src="@CacheHelper.Settings.LogoPath" alt="World in best of gardens" title="World in best of gardens"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-2 text-right">
                        <div class="search">
                            <a href="#">
                                <i class="fa fa-search"></i>
                            </a>
                            <form action="#" method="post" class="searchForm">
                                <input type="search" name="search" placeholder="Search...">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <header class="header">
            <div class="container">
                <div class="headerIn">
                    <div class="row">
                        <div class="col-lg-8 col-sm-9 col-xs-12 pull-left noPaddingRight">
                            <nav class="mainNav">
                                <div class="menuBar hidden-lg hidden-md">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <ul>
                                    <li class="has-menu-items"><a href="@Url.Action("Index","Home")">Home</a></li>
                                    <li class="has-menu-items"><a href="@Url.Action("Index","Page", new { slug = "about" })">About</a></li>
                                    <li class="has-menu-items">
                                        <a href="javascript:void('0')">categories</a>
                                        <ul class="sub-menu">
                                            @foreach (var item in CacheHelper.Categories)
                                            {
                                                <li><a href="@Url.Action("Index","Category", new { slug = item.Slug })">@item.Title</a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("Index","Page", new { slug = "contact" })">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-4 col-sm-3 col-xs-8 pull-right text-right">
                            <div class="socialHeader">
                                <a href="@CacheHelper.Settings.Facebook"><i class="fa fa-facebook"></i></a>
                                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Twitter))
                                {
                                    <a href="@CacheHelper.Settings.Twitter"><i class="fa fa-twitter"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Youtube))
                                {
                                    <a href="@CacheHelper.Settings.Youtube"><i class="fa fa-youtube"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Instagram))
                                {
                                    <a href="@CacheHelper.Settings.Instagram"><i class="fa fa-instagram"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Pinterest))
                                {
                                    <a href="@CacheHelper.Settings.Pinterest"><i class="fa fa-pinterest"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="mainContent">
            <div class="container">
                <div class="row">
                    @RenderBody()
                    @Html.Partial("_Sidebar")
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <div class="footLogo">
                            <a href="@Url.Action("Index","Home")">
                                <img src="@CacheHelper.Settings.LogoPath"
                                     alt="World in best of gardens"
                                     title="World in best of gardens" />
                            </a>
                        </div>
                        <p class="copyrightText">World in best of gardens <br /><span>Copyright © 2016 @CacheHelper.Settings.Sitename. All Right Reserved</span></p>
                        <div class="footSocial">
                            @if (!string.IsNullOrEmpty(CacheHelper.Settings.Facebook))
                            {
                                <a href="@CacheHelper.Settings.Facebook"><i class="fa fa-facebook"></i></a>
                            }
                            @if (!string.IsNullOrEmpty(CacheHelper.Settings.Twitter))
                            {
                                <a href="@CacheHelper.Settings.Twitter"><i class="fa fa-twitter"></i></a>
                            }
                            @if (!string.IsNullOrEmpty(CacheHelper.Settings.Youtube))
                            {
                                <a href="@CacheHelper.Settings.Youtube"><i class="fa fa-youtube"></i></a>
                            }
                            @if (!string.IsNullOrEmpty(CacheHelper.Settings.Instagram))
                            {
                                <a href="@CacheHelper.Settings.Instagram"><i class="fa fa-instagram"></i></a>
                            }
                            @if (!string.IsNullOrEmpty(CacheHelper.Settings.Pinterest))
                            {
                                <a href="@CacheHelper.Settings.Pinterest"><i class="fa fa-pinterest"></i></a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Include All JS -->
    <script type="text/javascript" src="~/_vendor/js/jquery.js"></script>
    <script type="text/javascript" src="~/_vendor/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/_vendor/js/owl.carousel.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="~/_vendor/js/gmaps.js"></script>
    <script type="text/javascript" src="~/_vendor/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="~/_vendor/js/theme.js"></script>

    <script>
        $(".fa-search").click(function () {
            var form = $(".searchForm");
            var search = $("input[name='search']").val();
            if (form[0].attributes.length > 3) {
                if (form[0].attributes[3].value == "display: block;") {
                    if (search.length <= 0) {
                        alert("search text empty");
                    }
                }
            }
            if (search.length <= 0) {
                form.css("display", "block");
            }
        });
    </script>

    @if (!Request.IsLocal)
    {
        @Html.Raw(string.IsNullOrEmpty(CacheHelper.Settings.Analytics) ? "" : CacheHelper.Settings.Analytics)
    }

</body>
</html>

