﻿<div class="col-lg-4 col-sm-5">
    <div class="sidebarBlog">
        @*<aside class="widget">
                <h3 class="widgetTitle">ABOUT ME</h3>
                <div class="aboutMe">
                    <img src="~/_vendor/img/aboutme.jpg" alt="">
                    <div class="aboutdec">
                        <h4>Hernandez Higuan</h4>
                        <p>Doing business like this takes much more effort than doing your own business at home, and on top of that there's the curse of travelling, worries about making train connections, bad and irregular food.</p>
                    </div>
                </div>
            </aside>*@
        <aside class="widget">
            <div class="followMe">
                <h2 class="widgetTitle">follow me</h2>
                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Facebook))
                {
                    <a href="@CacheHelper.Settings.Facebook"><i class="fa fa-facebook"></i></a>
                }
                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Twitter))
                {
                    <a href="@CacheHelper.Settings.Twitter"><i class="fa fa-twitter"></i></a>
                }
                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Youtube))
                {
                    <a href="@CacheHelper.Settings.Youtube"><i class="fa fa-youtube"></i></a>
                }
                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Instagram))
                {
                    <a href="@CacheHelper.Settings.Instagram"><i class="fa fa-instagram"></i></a>
                }
                @if (!string.IsNullOrEmpty(CacheHelper.Settings.Pinterest))
                {
                    <a href="@CacheHelper.Settings.Pinterest"><i class="fa fa-pinterest"></i></a>
                }
            </div>
        </aside>
        @*<aside class="widget">
                <div class="banner">
                    <img src="~/_vendor/img/b1.jpg" alt="">
                    <div class="bannerCont">
                        <h2>dhaka</h2>
                        <p>WORDPRESS THEME FOR BLOGGERS</p>
                    </div>
                </div>
            </aside>*@
        <aside class="widget">
            <h3 class="widgetTitle">RECENT POSTS</h3>
            <div class="recentPost">
                @foreach (var item in CacheHelper.EditorPick)
                {
                    <div class="singleRecpost">
                        <img src="@item.ImagePath"
                             alt="@item.MetaDescription"
                             title="@item.MetaTitle">
                        <h2 class="recTitle">
                            <a href="@Url.Action("Index","Content", new { slug = item.Slug })">@item.Title</a>
                        </h2>
                    </div>
                }
            </div>
        </aside>
        <aside class="widget emailSub">
            <h3 class="widgetTitle">subcribe</h3>
            <p>Subscribe out mail list</p>
            <form action="#" method="post" class="subForm" id="subscriptionsforms">
                <input type="email" placeholder="Your email address" id="sub_email">
                <button type="submit" id="subs_submit">sign up</button>
            </form>
        </aside>
        <aside class="widget emailSub">
            <h3 class="widgetTitle">CATEGORIES</h3>
            <ul>
                @foreach (var item in CacheHelper.Categories)
                {
                    <li><a href="@Url.Action("Index","Category", new { slug = item.Slug })">@item.Title</a></li>
                }
            </ul>
        </aside>
        @*<aside class="widget">
                <div class="flickr">
                    <h2 class="widgetTitle">flickr photo</h2>
                    <a href="#"><img src="~/_vendor/img/1.jpg" alt=""></a>
                    <a href="#"><img src="~/_vendor/img/1.jpg" alt=""></a>
                    <a href="#"><img src="~/_vendor/img/1.jpg" alt=""></a>
                    <a href="#"><img src="~/_vendor/img/1.jpg" alt=""></a>
                    <a href="#"><img src="~/_vendor/img/1.jpg" alt=""></a>
                    <a href="#"><img src="~/_vendor/img/1.jpg" alt=""></a>
                    <a href="#"><img src="~/_vendor/img/1.jpg" alt=""></a>
                    <a href="#"><img src="~/_vendor/img/1.jpg" alt=""></a>
                    <a href="#"><img src="~/_vendor/img/1.jpg" alt=""></a>
                </div>
            </aside>*@
    </div>
</div>