﻿@model AdsGarden.Model.Page
@{
    ViewBag.Title = Model.Title + " | " + CacheHelper.Settings.Sitename;
    ViewBag.Description = Model.Title + " | " + CacheHelper.Settings.Sitename;
    ViewBag.Canonical = Url.Action("Index","Page", new { slug = Model.Slug });
    ViewBag.Robots = "index,nofollow";
}

<div class="col-lg-8 col-sm-7">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="widgetTitle">@Model.Title</h3>
            <div class="gellarypostCont">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</div>

