﻿@model CategoryDetailViewModel
@{
    ViewBag.Title = Model.Category.MetaTitle;
    ViewBag.Description = Model.Category.MetaDescription;
    ViewBag.Keywords = Model.Category.Keywords;
    ViewBag.Canonical = Url.Action("Index", "Category", new { slug = Model.Category.Slug });
    ViewBag.Robots = "index,follow";
}

    <div class="col-lg-8 col-sm-7">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Category.Title</li>
                    </ol>
                </nav>
                <h3 class="widgetTitle">CATEGORY <span>/</span> @Model.Category.Title</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Contents)
            {
                <div class="blogHlafWidth">
                    <div class="clearfix"></div>
                    <div class="col-lg-6">
                        <div class="singleBlog hlafWidth">
                            <div class="blogImg">
                                <img src="@item.ImagePath" 
                                     alt="@item.Title"
                                     title="@item.MetaTitle"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blogDec hlafWidthdec">
                            <h2 class="blogtitle">
                                <a href="@Url.Action("Index","Content", new { slug = item.Slug })" title="@item.MetaTitle">@item.Title</a>
                            </h2>
                            <p>@Html.Raw(item.Description.Substring(0,150))<text>...</text></p>
                            <div class="blogMeta">
                                <span><i class="fa fa-user"></i>@item.User.Fullname</span>
                                <span> <i class="fa fa-clock-o"></i>@item.PublishDate.ToString("dd MMMM yyyy")</span>
                                <span><i class="fa fa-comments"></i>@item.Category.Title</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
