﻿body, html {
    width: 100%;
    height: 100%;
}
.page-content{
    padding-top:3.1rem;
}

.table td, .table th {
    vertical-align: middle;
}
.fa-star {
    color:#ccc;
}
.checked {
    color: orange;
}
th {
    border-top: 0px !important;
}

    th.short, td.short {
        width: 30px;
    }

    th.medium, td.medium {
        width: 100px;
    }

    th.long {
        width: 150px;
    }

    th.longer {
        width: 200px;
    }

.page-header {
    margin-bottom: 35px;
    border-bottom: solid 1px #CCC;
    border-bottom-style: dotted;
}

nav[aria-label='breadcrumb'] {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 10px;
}

#side {
    height: 92vh;
    max-height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom:50px;
}

    #side div .s-request:last-child {
        padding-bottom: 75px !important;
    }

#main {
    background-color: #e6ebf1;
    height: 100vh;
    height: 100%;
    padding-bottom: 100px;
}

.navbar {
    background-color: #142bbf;
    color: #FFFFFF !important;
    padding: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF !important;
}

.nav-item.dropdown {
    margin-left: 10px;
}

ol.breadcrumb {
    padding-left: 10px;
    margin-bottom: 0px;
    background-color: #FFFFFF;
}

table {
    background-color: #FFFFFF;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #f6f9fc;
}

.table-striped td, .table-striped th {
    border: solid 1px #DDDDDD;
}

table td {
    font-size: 0.9rem !important;
}

.btn.btn-xs {
    padding: .1rem .8rem;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.form-horizontal {
    background-color: #FFFFFF;
}

.s-request {
    border-bottom: solid 1px #ccc;
}


    .s-request:nth-child(odd) {
        background-color: #f6f9fc;
    }

.s-request.status-0{ border-left:solid 8px #FFB100; }
.s-request.status-5{ border-left:solid 8px #1D28C7; }
.s-request.status-10{ border-left:solid 8px #39C379; }
.l-has-no-time { border-left:solid 8px #FF7340 !important; }
.s-request.status-15{ border-left:solid 8px #FF7340;  }
.s-request.status-20{ border-left:solid 8px #FF7340;  }
.s-request.status-25{ border-left:solid 8px #1D28C7; }
.s-request.status-30{ border-left:solid 8px #FF7340;  }
.s-request.status-35{ border-left:solid 8px #39C379;  }
.s-request.status-40{ border-left:solid 8px #FFB100;  }
.s-request.status-45 { border-left: solid 8px #FF4400; }

    .s-request .summary {padding-top:11px;}
    .s-request .summary h4 {
        font-size: 15px;
        color: #AAA;
        margin-bottom: 0px;
    }

    .s-request .summary p { font-size: 15px;}

.newTaskBtn{position:fixed; z-index:2; bottom:20px; right:20px; width:35px; height:35px; line-height:25px;}

.circle {
    font-size: 20px;
}

.request-bg-15 {
    background-color: #BC1E17 !important;
    color: #FFF;
}

.request-bg-20 {
    background-color: #FD2853 !important;
    color: #FFF
}

.request-bg-25 {
    background-color: #2132C4 !important;
    color: #FFF
}

.request-bg-30 {
    background-color: #cccccc !important;
    color: #FFF
}


.request-detail h2 {
    font-size: 22px;
}

.request-detail h3 {
    font-size: 18px;
}

.request-detail h4 {
    font-size: 14px;
}

.request-detail .detailBox {
    background-color: #ffffff;
}

.request-detail .basketBox {
    background-color: #142bbf;
    color: #FFFFFF !important;
}

.request-detail .historyBox {
    background-color: #ffffff;
}

.request-detail .statusBox {
    background-color: #ffffff;
}

    .request-detail .statusBox .current-status {
        color: #FF7340;
    }

.request-detail table td.time {
    font-size: 25px !important;
    padding: 2px !important;
    padding-left: 10px !important;
    width: 110px;
    border-left: solid 3px #39C379;
    color: #39C379;
}

.request-detail table td.description {
    padding: 2px !important;
    padding-left: 10px !important;
    border-left: solid 3px #00ff90;
}

.request-detail table td h6 {
    margin-bottom: 3px !important;
}


.request-actions {
    background-color: #4656F2;
    color: #FFFFFF;
}

.request-actions i{ margin-right:10px; }
.request-actions .col-sm-2{
    border-right: solid 1px #ccc;
}

    .request-actions .col-sm-2.disable {
        opacity: .5;
    }

    .request-actions a {
        color:#FFF;
    }

    .request-actions a:hover {
        text-decoration:none;
    }

    .request-actions .col-sm-2:last-child {
        border-right: 0px;
    }

.note-link-popover, .note-image-popover, .note-table-popover {
    display:none;
}

.heobox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 22px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .heobox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.heobox:hover input ~ .checkmark {
    background-color: #ccc;
}

.heobox input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.heobox input:checked ~ .checkmark:after {
    display: block;
}

.heobox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tight-table td, .tight-table th {
    padding: .5rem;
}

.font-120 {
    font-size:120%;
}

.font-bold {
    font-weight:bold;
}

.dropdown-divider {
    margin: .2rem 0;
}

.table {
    background-color: #FFFFFF;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #f6f9fc;
}

.table-striped td, .table-striped th {
    border: solid 1px #DDDDDD;
}
.table thead tr{background:#26a69a; color:#fff;}