﻿@model ContentViewModel
@{
    Layout = null;
    ViewBag.Title = Html.Raw(Model.Content.MetaTitle);
    ViewBag.Description = Html.Raw(Model.Content.MetaDescription);
    ViewBag.Robots = "index,follow";
    ViewBag.AmpCanonical = Url.Action("Amp", "Content", new { slug = Model.Content.Slug });
    var yazi = Html.Raw(Model.Content.Description);
    var url = CacheHelper.Settings.SiteAdress;
}

<!doctype html>
<html amp lang="tr">
<head>
    <meta charset="utf-8">
    <title>@Html.Raw(ViewBag.Title)</title>
    <link rel="canonical" href="@ViewBag.AmpCanonical">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin-ext">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="description" content="@Html.Raw(ViewBag.Description)" />
    <script type="application/ld+json">
    {
        "@@context": "http://schema.org",
        "@@type": "NewsArticle",
        "headline": "@Model.Content.Title",
        "mainEntityOfPage": "@ViewBag.AmpCanonical",
        "datePublished": "@Model.Content.PublishDate.ToString("yyyy-MM-ddTHH:mm:ss+0fff")",
        "dateModified": "@Model.Content.UpdateDate.ToString("yyyy-MM-ddTHH:mm:ss")",
        "description": "@Html.Raw(yazi)",
        "author": {
            "@@type": "Person",
            "name": "@CacheHelper.Settings.Sitename"
            },
        "publisher": {
            "@@type": "Organization",
            "name": "@CacheHelper.Settings.Sitename",
            "logo": {
                "@@type": "ImageObject",
                "url": "/_vendors/img/logo.png",
            "name": "youvolume"
            },
        "publisher": {
            "@@type": "Organization",
            "name": "youvolume",
            "logo": {
                "@@type": "ImageObject",
                "url": "/_vendors/img/logo.png",
                "width": 344,
                "height": 60
            }
        },
        "image": [
            "@url@Model.Content.ImagePath"
        ]
    }
    </script>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>

    <style amp-custom>
      body {font-family: 'Roboto';}
      header{width:100%;height:60px;position:fixed;background-color:#A40000;top:0;z-index:5;line-height:60px;}
      header .logo{width:50%;box-sizing:border-box;padding:0 5px;margin-top:10px;float:left;height:50px;background:transparent;}
      header a {float:right;box-sizing:border-box;width:50%;padding-right:10px;font-size:14px;text-decoration:none;color:#fff;text-align:right;}
      header::after{content:"";display:table;clear:both;}
      .amp-content{margin-top:75px;}
      amp-video{margin:10px 0;}
      h1{font-size:20px;width:100%;box-sizing:border-box;padding:0 15px;color:#333;}
      .postDescription{width:100%; box-sizing:border-box;padding:0 15px;}
      .postDescription amp-img{margin:5px 0;}
      .postDescription p{margin:5px 0; font-size:14px;}
      h2,h3,h4,h5,h6{font-size:16px; color:#333; width:100%; border-bottom:1px solid #dedede; margin:5px 0; padding-bottom:5px; font-weight:500;}
      .otherPost{width:100%; box-sizing:border-box; padding:0 15px;}
      .otherPost h2{margin:10px auto;}
      .relatedItem{width:100%; box-sizing:border-box; height:70px; margin-bottom:10px; overflow:hidden;}
      .relatedItem amp-img{float:left; width:30%; margin-right:7px;}
      .relatedItem h6{border:none; padding:0; margin:0; height:70px;}
      .relatedTitle a{text-decoration:none; font-size:14px; color:#000; display:block; height:70px; line-height:17px; font-weight:500;}
    </style>

</head>
<body>
    <header>
        <div class="logo">
            <amp-img
                src="../_vendor/img/logo2.png"
                alt="@CacheHelper.Settings.Sitename technology news"
                width="100"
                height="40">
            </amp-img>
        </div>
        <a href="@Url.Action("Index","Category", new { slug = Model.Content.Category.Slug })" title="youvolume @Model.Content.Category.Title Category related article">
            More Articles...
        </a>
    </header>
    <div class="amp-content">
        <div class="hidden">@Model.Content.Category.Title</div>
        <h1 >@Model.Content.Title</h1>
        <amp-img 
            src="@Model.Content.ImagePath" 
            alt="@Model.Content.Title" 
            layout="responsive"
            title="@Model.Content.Title" 
            width="1040" 
            height="693">
        </amp-img>
        <div class="postDescription">
            @if (!string.IsNullOrEmpty(ViewBag.VideoAddress))
            {
                <amp-video 
                    width="480"
                    height="270"
                    src="@ViewBag.VideoAddress"
                    poster="@Model.Content.ImagePath"
                    layout="responsive"
                    controls>
                        <div fallback>
                            <p>Tarayıcınız Video Oynatıcısını Desteklemiyor</p>
                        </div>
                        <source type="video/webm"
                            src="@ViewBag.VideoAddress">
                    </amp-video>
            }

            <p itemprop="articleBody">@Html.Raw(yazi)</p>
        </div>
        <div class="otherPost">
            <h2>Related Articles</h2>
            @foreach (var item in Model.RelatedContent)
            {
            <div class="relatedItem">
                <a href="@Url.Action("Index", "Content", new { slug = item.Slug })" title="@item.MetaTitle">
                    <amp-img 
                        src="@item.ImagePath" 
                        alt="@item.Title" 
                        layout="responsive"
                        title="@item.Title" 
                        width="1040" 
                        height="693">
                    </amp-img>
                </a>
                <h6 class="relatedTitle">
                    <a href="@Url.Action("Index", "Content", new { slug = item.Slug })" title="@item.MetaTitle">@item.Title</a>
                </h6>
            </div>
            }
        </div>
    </div>
</body>
</html>