﻿@model ContentViewModel
@{
    ViewBag.Title = Model.Content.MetaTitle;
    ViewBag.Description = Model.Content.MetaDescription;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Canonical = Url.Action("Index","Content", new { slug = Model.Content.Slug });
    ViewBag.Robots = "index,follow";
    ViewBag.AmpCanonical = Url.Action("Amp", "Content", new { slug = Model.Content.Slug });
}

    <div class="col-lg-8 col-sm-7">
        <div class="row">
            <div class="col-lg-12" role="main" itemscope itemtype="http://schema.org/NewsArticle" data-type="news" 
                 data-url="@ViewBag.Canonical" data-title="@Model.Content.Title" data-description="@Model.Content.MetaDescription" 
                 data-keywords="@Model.Content.Keywords" data-share="0" data-amp="@ViewBag.AmpCanonical">
                <meta itemprop="mainEntityOfPage" content="@ViewBag.Canonical" />
                <meta itemprop="dateModified" content="@Model.Content.UpdateDate.ToString()" />
                <meta itemprop="inLanguage" content="en-US" />
                <meta itemprop="genre" content="news" name="medium" />

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <li class="breadcrumb-item"><a itemprop="url" href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a itemprop="url" href="@Url.Action("Index","Category", new { slug = Model.Content.Category.Slug })">@Model.Content.Category.Title</a></li>
                        <li class="breadcrumb-item active" itemprop="title" aria-current="page">@Model.Content.Title</li>
                    </ol>
                </nav>

                <h1 class="blogtitle gellary" itemprop="headline">@Model.Content.Title</h1>

                <div class="slider noMarginBottom">
                    <img src="@Model.Content.ImagePath" class="w-100" alt="">
                </div>
                <div class="gellarypostCont">
                    <p class="mb-0"><strong>Desinger:</strong> @Model.Info.Desinger</p>
                    <p class="mb-0"><strong>Owner:</strong> @Model.Info.Owner</p>
                    <p class="mb-0"><strong>Garden Style:</strong> @Model.Info.GardenStyle</p>
                    <p class="mb-0"><strong>Size:</strong> @Model.Info.Size</p>
                    <p class="mb-0"><strong>Climate:</strong> @Model.Info.Climate</p>
                    <p><strong>Location:</strong> @Model.Info.Location</p>
                    <div itemprop="description">
                        @Html.Raw(Model.Content.Description)
                    </div>
                </div>
                <div class="blogMeta gfullwidth">
                    <span><i class="fa fa-user"></i>@Model.Content.User.Fullname</span>
                    <span > <i class="fa fa-clock-o"></i>@Model.Content.PublishDate.ToString("dd MMMM yyyy")</span>
                    <span><i class="fa fa-comments"></i>@Model.Content.Category.Title</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="widgetTitle text-capitalize">Related Posts</h3>
                <ol class="commentList">
                    @foreach (var item in Model.RelatedContent)
                    {
                        <li>
                            <div class="singleComments">
                                <img src="@item.ImagePath" 
                                     alt="@item.MetaTitle"
                                     title="@item.MetaDescription"
                                />
                                <div class="comHead">
                                    <a class="pull-left authorName" href="@Url.Action("Index","Content", new { slug = item.Slug })">@item.Title</a>
                                    <span class="pull-right reply">@item.PublishDate.ToString("dd MMMM yyyy HH:mm")</span>
                                    <div class="clearfix"></div>
                                </div>
                                <p>@Html.Raw(item.Description.Substring(0, 170))<text>...</text> </p>
                            </div>
                        </li>
                    }
                </ol>
            </div>
        </div>
    </div>

